.carousel, .ring, .img {
	width:100%;
	height: 100%;
	transform-style: preserve-3d;
	user-select:none;
  }
  body{
	background: #000;
  }
   .carousel {
	overflow:hidden;
	background:#000;
	
  }

  
  div, svg {
	position: absolute;
  }
  
  .container {
	perspective: 1000px;
	width: 290px;
	height: 460px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);

  }
  
  
  .buat{
	color: #CBBDDB;
	font-size: 16PX;
	text-decoration: none;
	text-transform: uppercase;
	
  }
  h3{text-align:center;
	margin-top:70px;
	
	transform: translate(-10px,-10px);

		background: linear-gradient(-45deg,rgb(1, 1, 228),rgb(61, 61, 208),rgb(38, 139, 50),rgb(7, 95, 20),rgb(210, 29, 29),rgb(171, 15, 15));
		background-size: 300%;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 5vw;
		letter-spacing: -5px;
		text-transform: uppercase;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: animated_text 6s ease-in-out infinite;
		-moz-animation: animated_text 6s ease-in-out infinite;
		-webkit-animation: animated_text 6s ease-in-out infinite;
	
	  }
	  @keyframes animated_text {
		0%{
			background-position: 0px 50%;
		}
		50%{
			background-position: 100% 50%;
		}
		100% {
			background-position: 0px 50%;
		}
		
	  }
	 
		
  
  .ringbg1 {
	  background-image: url(img/DBZ1.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
	 
  }
  
  .ringbg2 {
	  background-image: url(img/DBZ2.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg3 {
	  background-image: url(img/appicon.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg4 {
	  background-image: url(img/DBZ4.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg5 {
	  background-image: url(img/DBZ5.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg6 {
	  background-image: url(img/DBZ6.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg7 {
	  background-image: url(img/DBZ7.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg8 {
	  background-image: url(img/DBZ8.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg9 {
	  background-image: url(img/DBZ9.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }
  
  .ringbg10 {
	  background-image: url(img/DBZ10.jpg);
	  background-position: center !important;
	  background-size: cover;
	  background-repeat: no-repeat;
  }