.jumbotron{
    padding-top: 2rem;
    background-color: #6789c1;
}
body{
    min-height: 2000px;
}
#galeri{
    background-color: #6789c1;
}
.img-ukuran{
    width: 200px;
    height: 200px;
}
.buat-bawah
{
    width: 100%;
    height: 20%;
    border: 1 px solid black;
    float: center;
    padding:5%;
}
.img-bawah{
    width: 200px;
    height: 200px;
}